{% extends 'inc/base.html' %}
{% load static %}

{% block content %}
<div class="container-search ">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
            {%  include 'inc/navbar.html' %}
        </div>
    </div>

	<div class="row">
        <div class="col-2">
{%  include 'inc/filter_bar.html' %}
        </div>
        <div class="col-10">
            {%  include 'inc/gallery.html' %} <br/>
            <p class="text-center">
                <button class="btn btn-dark" id="loadmoreBtn">Загрузить еще</button>
            </p>
        </div>
    </div>
</div>
{% endblock content %}